@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--skin-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Scroll Bar */
html {
  scroll-behavior: smooth;
}
a {
  color: var(--text-black-700);
}
.preloader {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 555;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader h1 {
  font-size: 40px;
  padding: 10px;
  animation-name: preloader;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  margin-top: -200px;
}
@keyframes preloader {
  to {
    margin-top: 0;
  }
  from {
    margin-top: -200px;
  }
}
.d-none {
  display: none;
}
.padd-270 {
  padding-left: 270px;
}
.left {
  left: 0;
}
.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
.main-container {
  position: relative;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}
.hidden {
  display: none !important;
}
.main-content {
  padding-left: 270px;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 40px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  background: var(--skin-color);
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  display: flex;
  border: 1px solid var(--bg-black-50);
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 100%;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 25px;
  letter-spacing: 5px;
  position: relative;
  cursor: pointer;
}
.aside .logo a span {
  font-family: "Noto Serif", serif;
  font-size: 45px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggeler-2 {
  height: 40px;
  width: 45px;
  left: 300px;
  top: 20px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  background-color: var(--bg-black-100);
  position: fixed;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
}

.x-mark {
  font-size: 26px;
  margin-top: 5px;
  color: var(--skin-color);
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.aside .nav li a.active {
  color: var(--skin-color);
  cursor: pointer;
}
.aside-icons {
  margin-right: 15px;
}
/* Aside */

/* Home */
.hire-me {
  margin-top: -25px;
}
.social {
  margin-top: 30px;
  color: var(--text-black-700);
}
.social span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}
.social-media {
  display: flex;
  align-items: center;
}
.social-icon {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  margin-right: 10px;
  width: 35px;
  height: 35px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.social-icon:hover {
  transform: scale(1.2);
}
.social-icon a {
  color: var(--skin-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#flex-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  width: 60%;
}
.home .home-img {
  width: 40%;
  text-align: center;
  position: relative;
}
h3.hello {
  font-size: 18px;
  margin: 5px 0;
}
.name {
  font-size: 35px;
  margin-bottom: -10px;
}
h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 35px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 45px;
  margin: 5px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}

.practice2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.practice2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 45px;
  bottom: -35px;
  border-bottom: 1px solid var(--skin-color);
  border-right: 1px solid var(--skin-color);
}
.practice2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 45px;
  top: -35px;
  border-top: 1px solid var(--skin-color);
  border-left: 1px solid var(--skin-color);
}

.home-img::after {
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  right: 40px;
  bottom: -40px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
}
.home-img::before {
  content: "";
  position: absolute;
  height: 130px;
  width: 130px;
  left: 40px;
  top: -40px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
}

.home .home-img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
  width: 60%;
  object-fit: cover;
}
/* Home */
/* ABout */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about-text h3 span {
  color: var(--skin-color);
}
.about-text p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-black-700);
}
.about .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .buttons {
  margin-top: 30px;
}
.about .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}
.about .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .skills .skill-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .skills .skill-item .progress {
  width: 100%;
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .skills .skill-item .progress .skill-percent {
  position: absolute;
  color: var(--text-black-900);
  top: -40px;
  right: 0;
  font-weight: 400;
  line-height: 40px;
}
.about .skills .skill-item {
  margin-bottom: 25px;
}
.education,
.experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}
.about .timeline .timeline-item .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .timeline .timeline-item .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .timeline .timeline-item .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
/* ABout */
/* Services */

.service .service-item {
  margin-bottom: 30px;
  /* flex: 0 0 50%; */
  max-width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
  position: relative;
  min-height: 350px;
  /* min-height: 350px; */
}
/* .service .service-item .service-item-inner::before {
  border-radius: 10px;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.8s ease;
}
.service .service-item .service-item-inner::after {
  border-radius: 10px;
  box-sizing: border-box;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.8s ease;
}
.service .service-item:hover .service-item-inner::before {
  width: 100%;
  height: 100%;
  border-color: var(--skin-color);
}
.service .service-item:hover .service-item-inner::after {
  width: 100%;
  height: 100%;
  border-color: var(--skin-color);
} */

.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  text-align: center;
}
.service-icon {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .service-icon {
  font-size: 40px;
  color: #ffffff;
}
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* Services */
/* Portfolio */
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio-heading {
  float: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}
.portfolio .portfolio-item {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.practice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transform: translateY(100%);
  transition: all 0.8s ease;
}
.practice h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: black;
  width: 100%;
}
.port-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--skin-color);
  width: 120px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  /* font-weight: bold; */
  font-style: italic;
  transition: all 0.3s;
  color: white;
}
.pro-bts {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 50px;
}
.pro-bts button {
  background: var(--skin-color);
  color: white;
  font-size: 16px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.port-btn:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}
.port-icon {
  font-size: 20px;
}
.icons-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.portfolio .portfolio-item:hover .practice {
  transform: translateY(0);
  transition: all 0.8s ease;
}
.portfolio-img {
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.portfolio .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio .portfolio-item .portfolio-item-inner {
  /* border: 6px solid var(--bg-black-100); */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 5px solid white;
}

/* .portfolio .portfolio-item .portfolio-item-inner::before {
  border-radius: 10px;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.8s ease;
}
.portfolio .portfolio-item .portfolio-item-inner::after {
  border-radius: 10px;
  box-sizing: border-box;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.8s ease;
}
.portfolio .portfolio-item:hover .portfolio-item-inner::before {
  width: 100%;
  height: 100%;
  border-color: var(--skin-color);
}
.portfolio .portfolio-item:hover .portfolio-item-inner::after {
  width: 100%;
  height: 100%;
  border-color: var(--skin-color);
} */

/* Portfolio */
/* Video Player */
.video-player {
  height: 70vh;
  width: 60%;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  margin-left: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 55;
  border-radius: 10px;
  padding: 30px 30px 80px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player-close {
  display: inline-block;
  color: var(--text-black-700);
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}
video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.video-div {
  width: auto;
  height: auto;
  overflow: hidden;
}
.video-div video {
  width: 100%;
  height: 100%;
}
.video-player h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--skin-color);
}
/* Video Player */
/* Contact */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact-icons {
  font-size: 25px;
  color: var(--skin-color);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control {
  height: 140px;
  resize: none;
}

/* Contact */
.style-switcher {
  top: 40px;
}
/* Responsive */
@media (max-width: 1199px) {
  .main-content {
    padding-left: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
  /* .home,
  .about,
  .service,
  .portfolio,
  .contact {
    padding-left: 270px;
  } */
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  #flex-home {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .home .home-info {
    width: 100%;
  }

  .home .home-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .practice2::before {
    width: 70%;
  }
  .practice2::after {
    width: 70%;
  }
  .video-player {
    width: 70%;
    padding: 30px 30px 30px 30px;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .education,
  .about .experience,
  .about .skills,
  .about .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .aside {
    left: -270px;
    transition: all 0.5s ease;
  }
  .padd-270 {
    padding-left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 20px;
    visibility: visible;
  }
  #flex-home {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .home .home-info {
    width: 100%;
  }

  .home .home-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .practice2::before {
    width: 85%;
  }
  .practice2::after {
    width: 85%;
  }
  /* .aside .nav-toggeler-2 {
    display: flex;
  } */
  h3.my-profession {
    font-size: 30px;
  }
  .name {
    font-size: 28px;
  }
  .video-player {
    margin-left: 0;
    height: 50vh;
    width: 90%;
    padding: 30px 30px 30px 30px;
  }
  .video-div {
    background-color: black;
  }
}
/* Responsive */
